body {
    background-color: #FFE7E2;
}

#front {
    font-size: 50px;
    text-align: center;
    text-shadow: 2px 2px 6px #fcd7cf;
    color: white;
}

.title {
    font-size: 50px;
    text-align: left;
    text-shadow: 2px 2px 6px #fcd7cf;
    color: white;
    background-color: #FFDCDA;
    box-shadow: 0px 5px 0px;
}

.image {
    border: 3px solid white;
    border-radius: 10px;
}

p {
    text-align: left;
    line-height: 1px;
}

.section {
    color: white;
    text-shadow: 0px 2px 10px black;
    font-size: 25px;
    text-align: left;
    background-color: #FFDCDA;
}



