
* {
    box-sizing: border-box;
}

body {
    background-color: #FFE7E2;
}

#front {
    text-align: center;
    background-color: pink;
    color: white;
    text-shadow: 0px 0px 5px black;
    border-bottom: 5px solid white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.recipe-container {
    text-align: center;
}

.recipelist {
    display: inline-block;
    list-style: none;
    text-underline-offset: 5px;
    margin: 0 auto;
    padding: 0;
    line-height: 50px;
}

a {
    color: white;
    text-shadow: 0px 0px 5px black;
    font-family:'Courier New', Courier, monospace
}

a:hover {
    color: #692f38c7;
}

.title {
    text-align: center;
    color: white;
    background-color: pink;
    box-shadow: 0px 0px 5px black;
    text-shadow: 0px 0px 5px black;
    border-bottom: 5px solid white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.image {
    display: block;
    margin: 0 auto;
    border: 5px solid white;
    box-shadow: 0px 0px 5px black;
    border-radius: 10px;
}

.section {
    text-align: center;
    background-color: pink;
    box-shadow: 0px 1px 5px black;
    color: white;
    text-shadow: 0px 0px 10px palevioletred;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.list-container {
    text-align: center;
}

.unlistedlist {
    display: inline-block;
    list-style: none;
    padding: 10px;
    margin: 0 200px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;
}

.unlistedlist li {
    text-align: center;
}

.para-container {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;
}