body {
    background-color: #FFE7E2;
}

#front {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    text-align: center;
    text-shadow: 2px 2px 6px #fcd7cf;
    color: white;
}

.title {
    font-size: 50px;
    text-align: left;
    text-shadow: 2px 2px 6px #fcd7cf;
    color: white;
    background-color: #FFDCDA;
    box-shadow: 0px 5px 0px;
}

.image {
    border: 3px solid white; 
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;
}

p {
    font-size: 20px;
    text-align: left;
    line-height: 1px;
}

.section {
    color: white;
    text-shadow: 0px 2px 10px black;
    font-size: 25px;
    text-align: left;
    background-color: #FFDCDA;
    box-shadow: 2px 2px 5px white;
}

.content {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
}

a {
    color: white;
    font-size: 30px;
    font-weight: 800;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a:hover {
    color: black;
}



